version: "3.8"

services:
  miggo-frontend:
    build: .
    container_name: miggo-frontend
    restart: always
    networks:
      - root_default
    labels:
      - "traefik.enable=true"
      # Configuração do domínio específico
      - "traefik.http.routers.miggo-web.rule=Host(`teste.miggomkt.com.br`)"
      - "traefik.http.routers.miggo-web.entrypoints=websecure"
      - "traefik.http.routers.miggo-web.tls.certresolver=letsencrypt"
      # Porta interna do container Nginx (definida no Dockerfile)
      - "traefik.http.services.miggo-web.loadbalancer.server.port=80"
      # Middleware para Headers (opcional, seguindo seu padrão)
      - "traefik.http.routers.miggo-web.middlewares=frontend-headers"
      - "traefik.http.middlewares.frontend-headers.headers.customrequestheaders.X-Forwarded-Proto=https"

networks:
  root_default:
    external: true